@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-Light.otf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: lighter;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-Regular.ttf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: normal;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-SemiBold.ttf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: 600;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-ExtraBold.otf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: 800;
    /* Peso normal de la fuente */
}


:root,
body {
    --bs-black-rgb: 0, 0, 0;
    --bs-navbar-brand-font-size: 24px !important;
    --bs-nav-link-font-size: 20px !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='12' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    --beige: #eaceae;
    --light-beige: #FAF3EB;
    --light-green: #8AA086;
    --light-green-rgb: 138, 160, 134;
    --dark-green: #385346;
    --dark-green-op: rgb(56, 83, 70, 0.8);
    --whatsapp-color: #00D55F;
    --silver: #C0C0C0;

}

html {
    scroll-behavior: smooth;
}

body * {
    font-family: 'Giroy', sans-serif;
    /* Usar la fuente en todo el cuerpo del documento */

}

body *:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='12' stroke-width='2' d='M2 8h26M2 22h26'/%3e%3c/svg%3e");


}

* {
    color: #111010 !important;
    transition: all 0.5s;
}





/* CUSTOM */

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-posX-center {
    background-position-x: center !important;
}

.bg-posY-bottom {
    background-position-y: bottom
}

.bg-posY-top {
    background-position-y: top
}

.bg-gray-100 {
    background-color: var(--bs-gray-100) !important;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-light-green {
    background-color: var(--light-green) !important;
}

.fs-1 {
    font-size: calc(1.66rem + 1.5vw) !important;
}

.border-none {
    border: none !important;
}

.bg-custom-beige {
    /* background-color: #EAD1D2 !important; */
    background: var(--beige) !important;
    background: linear-gradient(315deg, var(--beige) 66%, var(--light-beige) 100%) !important;
}

.bg-custom-green {
    background-color: var(--dark-green) !important;
}

.bg-custom-green-op {
    background-color: var(--dark-green-op) !important;
}

.bg-custom-green-gradient {
    background: linear-gradient(315deg, #8AA086 66%, var(--dark-green) 100%) !important;
}


.bg-custom-silver {
    background: var(--silver) !important;
    background: linear-gradient(315deg, var(--silver) 66%, var(--bs-white) 100%) !important;
}


.bgel1 {
    background-image: url("../Assets/bgel1.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgel3 {
    background-image: url("../Assets/bgel3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bgel5 {
    background-image: url("../Assets/bgel5.jpg");
    background-size: cover;
    background-position-y: y-end;
}


.scale-1 {
    scale: 1.1;
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

.mvh-50 {
    min-height: 50vh;
}

.mvh-100 {
    min-height: 100vh;
}

.mvh-75 {
    min-height: 75vh;
}

.max-w-100 {
    max-width: 100%;
}

.w-35 {
    width: 35%;
}

.bg-translucent {
    background-color: rgb(255, 255, 255, 0.8);
}

.bg-primary-color {
    background-color: var(--dark-green) !important;
}

.bg-secondary-color {
    background-color: var(--beige) !important;
}

.aspect-1 {
    aspect-ratio: 1;
}

.no-style-select,
.no-style-select:hover,
.no-style-select:active,
.no-style-select:focus-visible,
.no-style-select:focus {
    border: none;
    background: none;
    outline: none;
}


.accordion-button:focus {
    box-shadow: none;
}

#services-dropdown .dropdown-menu {
    --bs-dropdown-min-width: 18rem;
}

#language-dropdown .dropdown-menu {
    --bs-dropdown-min-width: 3rem;
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 0px 2px #FFF;
}

.h4,
h4 {
    font-size: calc(1.15rem + .1vw);
}

.mb-8 {
    margin-bottom: 4rem !important;
}

.text-primary-color {
    color: var(--dark-green) !important;
}

.text-secondary-color {
    color: var(--beige) !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* WHATSAPP ICON */

.whatsapp-fixed-icon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    right: 15px;
    min-width: 60px;
    height: 60px;
    padding: 15px;
    padding-bottom: 12px;
    border-radius: 30px;
    transition: all 1s;
    background-color: var(--whatsapp-color);
    z-index: 9999999 !important;
}

.whatsapp-fixed-icon i {
    transform: translate(0, 0.3rem);
}

.whatsapp-fixed-icon:hover h5 {
    display: block !important;
    margin-bottom: 5px !important;
}


/* HEADER */


.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='12' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#mainNavBar a {
    transition: all 0.5s;
}

#mainNavBar:hover a {
    opacity: 0.4;
}

#mainNavBar a:hover {
    opacity: 1;
}

#mainNavBar select option {
    background-color: rgb(0, 0, 0, 0.1) !important;
    border-radius: 0;
}


header .social {
    max-width: 300px;
}

header .social * {
    color: white !important;
}

.vb {
    border-left: solid white 1px;
    transform: translate(-50%, 0);
    margin-left: 1rem;
    margin-right: 1rem;
}

.hb {
    border-top: solid white 3px;
    transform: translate(0, -50%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hb.primary {
    border-color: var(--dark-green);
}

.hb.secondary {
    border-color: var(--beige);
}

header .social a {
    white-space: nowrap;
}



/* HOME */


#home .whatsapp-link {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#home .whatsapp-link button {
    font-size: calc(0.8rem + .9vw) !important;
}

#home .whatsapp-link button:hover {
    background-color: var(--light-beige);
    color: var(--bs-gray) !important;
}


/* CARDS */

.overlapping-card {
    top: 75%;
    left: 0%;
}

.overlapping-card-reverse {

    top: 75%;
    left: 65%;

}

.card {
    aspect-ratio: 1;
    overflow: hidden;
    /* max-width: 80%; */
}




/* CONTACT */

#contact .form-control {
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
}

#contact .form-control:focus {
    box-shadow: var(--beige);
}

.formpreview {
    background-color: transparent !important;
}


/* EFFECTS */


.hovered *:hover {
    scale: 1.010 !important;
}

#cards .col-md:hover {
    scale: 1.025 !important;
}

h5.arrow-icon::after {
    content: "⮕";
    padding-left: 1rem;
    transition: all 0.5s;

}

.btn:hover h5.arrow-icon::after {
    content: "⮕";
    padding-left: 2rem;

}

.after-filter::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--beige);
    opacity: 0.2;
    filter: blur(5);
}



/* CAROUSEL REVIEWS */


/* borrar */


#reviews .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

#reviews .carousel-control-prev,
#reviews .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    #reviews .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
    }

    #reviews .carousel-inner {
        display: flex;
    }
}

@media (min-width: 992px) {
    #reviews .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    #reviews .carousel-inner {
        display: flex;
    }
}

#reviews .card .img-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviews .card img {
    max-height: 100%;
}

/* 
@media (max-width: 767px) {
    #reviews .card .img-wrapper {
        height: 17em;
    }
} */

/* borrar */









/* #carouselReview {
    max-width: 500px;
} */
/* 
#carouselReview .carousel-indicators [data-bs-target] {
    background-color: black !important;
}
*/
#carouselReview .card {
    aspect-ratio: inherit;
}

.review-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}

.thumbnail-1 {
    background-image: url(../Assets/thumb1.png);
}

.thumbnail-2 {
    background-image: url(../Assets/thumb2.png);
}

.thumbnail-3 {
    background-image: url(../Assets/thumb1.png);
}

.thumbnail-4 {
    background-image: url(../Assets/thumb1.png);
}

.thumbnail-5 {
    background-image: url(../Assets/thumb2.png);
}


/* SLIDER */

.brand-slider {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
}

.brand-slider::before,
.brand-slider::after {
    background: linear-gradient(to right, rgba(var(--light-green-rgb)) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.brand-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.brand-slider::before {
    left: 0;
    top: 0;
}

.brand-slider .slide-track {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(400px * 8);
}

.brand-slider:hover .slide-track {
    animation-play-state: paused;
}

.brand-slider .slide {
    width: 400px;
}


/* FOOTER */

footer * {
    color: var(--bs-white) !important;
}

footer .text2Footer {
    font-size: 14px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px
}

footer .social {
    /* height: 30px; */
}






/* ANIMATIONS */

.spinner {
    border: 10px solid var(--bs-gray-100);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left-color: var(--light-green);

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-400px * 4));
        transform: translateX(calc(-400px * 4));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-400px * 4));
        transform: translateX(calc(-400px * 4));
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 40%);
        transform: translate(0, 40%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.fadeInUp {
    animation: fadeInUp 0.5s;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate(40%, 0);
        transform: translate(40%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 0.75s ease-in;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate(-40%, 0);
        transform: translate(-40%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.fadeInRight {
    animation: fadeInRight 0.75s ease-in;
}


@keyframes scaleFromCenter {
    from {
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }

    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.scaleFromCenter {
    animation: scaleFromCenter 0.25s ease-in;
}




/* MEDIA QUERY */

/* LG */
@media (min-width: 1400px) {

    .container {
        max-width: 1200px;
    }
}


/* MD */
@media (min-width: 992px) {
    /* .bg-md-transparent {
        background-color: transparent !important;
    } */

    .navbar-collapse {
        border-top: none !important
    }

    .w-md-50 {
        width: 50% !important
    }

    .mw-40 {
        max-width: 40% !important;
    }
}

/* SM */
@media (min-width: 768px) {

    #home .whatsapp-link button {
        font-size: 2rem !important;
    }
}