@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-Light.otf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: lighter;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-Regular.ttf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: normal;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-SemiBold.ttf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: 600;
    /* Peso normal de la fuente */
}

@font-face {
    font-family: 'Giroy';
    /* Nombre que le das a tu fuente */
    src: url('../Assets/Gilroy-ExtraBold.otf') format('truetype');
    /* Ruta al archivo de la fuente regular */
    font-weight: 800;
    /* Peso normal de la fuente */
}


:root {
    --bs-black-rgb: 17, 16, 16;
    --bs-navbar-brand-font-size: 24px !important;
    --bs-nav-link-font-size: 20px !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(17, 16, 16, 1)' stroke-linecap='round' stroke-miterlimit='12' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --light-pink: rgb(234, 209, 210);
    --light-green: #8AA086;
    --dark-green: #2E382C;
    --silver: #C0C0C0;

}

html {
    scroll-behavior: smooth;
}

body * {
    font-family: 'Giroy', sans-serif;
    /* Usar la fuente en todo el cuerpo del documento */

}

body *:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(17, 16, 16, 1)' stroke-linecap='round' stroke-miterlimit='12' stroke-width='2' d='M2 8h26M2 22h26'/%3e%3c/svg%3e");


}

* {
    color: #111010 !important;
    transition: all 0.5s;
}





/* CUSTOM */

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-posX-center {
    background-position-x: center !important;
}

.bg-posY-bottom {
    background-position-y: bottom
}

.bg-posY-top {
    background-position-y: top
}

.fs-1 {
    font-size: calc(1.66rem + 1.5vw) !important;
}

.border-none {
    border: none !important;
}

.bg-custom-pink {
    /* background-color: #EAD1D2 !important; */
    background: var(--light-pink) !important;
    background: linear-gradient(315deg, var(--light-pink) 66%, var(--bs-white) 100%) !important;
}

.bg-custom-green {
    background: var(--light-green) !important;
    background: linear-gradient(315deg, var(--light-green) 66%, var(--dark-green) 100%) !important;
}

.bg-custom-silver {
    background: var(--silver) !important;
    background: linear-gradient(315deg, var(--silver) 66%, var(--bs-white) 100%) !important;
}

.vh-50 {
    min-height: 50vh;
}

.vh-75 {
    min-height: 75vh;
}

.bg-translucent {
    background-color: rgb(255, 255, 255, 0.8);
}

.no-style-select,
.no-style-select:hover,
.no-style-select:active,
.no-style-select:focus-visible,
.no-style-select:focus {
    border: none;
    background: none;
    outline: none;
}


.accordion-button:focus{
    box-shadow: none;
}



/* HEADER */


#mainNavBar a {
    transition: all 0.5s;
}

#mainNavBar:hover a {
    opacity: 0.4;
}

#mainNavBar a:hover {
    opacity: 1;
}

#mainNavBar select option {
    background-color: rgb(0,0,0,0.1)!important;
    border-radius: 0;
}






/* CARDS */

.overlapping-card {
    top: 60%;
    left: -5%
}




/* CONTACT */

#contact .form-control{
    background-color: transparent!important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
}

#contact .form-control:focus {
    box-shadow: var(--light-pink);
}


/* EFFECTS */


.spinner {
    border: 10px solid var(--bs-gray-100);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left-color: var(--light-pink);

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.hovered *:hover {
    scale: 1.010 !important;
}

#cards .col-md:hover {
    scale: 1.025 !important;
}

h5.arrow-icon::after {
    content: "⮕";
    padding-left: 1rem;
    transition: all 0.5s;

}

.btn:hover h5.arrow-icon::after {
    content: "⮕";
    padding-left: 2rem;

}






/* MEDIA QUERY */

/* LG */
@media (min-width: 1400px) {

    .container {
        max-width: 1200px;
    }
}


/* MD */
@media (min-width: 992px) {
    .bg-md-transparent {
        background-color: transparent !important;
    }

    .navbar-collapse {
        border-top: none !important
    }

    header .shadow {
        box-shadow: none !important;
    }
}